body {
	background-image: url(https://www.yangshangzhen.com/bing/wallpaper);
    background-repeat: repeat-x;
}

.body {
	margin: 5%;
}

* {
	text-shadow: #be002c 0.5px 0 0, #be002c 0 0.5px 0, #27DCE2 -1px 0 0, #27DCE2 0 -1px 0;
}

#link {
	margin: 3%;
	padding: 1%;
}

/* 超链接的访问效果 */
.link a:link {
	/* 常规效果 */
	color: #000000;
	text-decoration: none;
}

.link a:visited {
	/* 已经访问后效果 */
	color: #000000;
	text-decoration: none;
}

.link a:hover {
	/* 鼠标移至其上方效果 */
	color: #27DCE2;
	text-decoration: none;
}

.link a:active {
	/* 鼠标未释放时效果 */
	color: #27DCE2;
	text-decoration: underline;
}
.foot {
	margin-top: 10%;
}